---
import Container from '../components/Container.astro';
import Leaderboard from '../components/Leaderboard.astro';
import Sponsors from '../components/Sponsors.astro';
import TeamSelectorCards from '../components/TeamSelectorCards.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kings League Infojobs">
	<main>
		<section class="bg-[#e66000] py-20">
			<Container>
				<div class="grid grid-cols-1 lg:grid-cols-6 gap-6">
					<div class="col-span-6 lg:col-span-2">
						<Leaderboard format="small" />
					</div>
					<div class="col-span-6 lg:col-span-4">
						<TeamSelectorCards />
					</div>
				</div>
			</Container>
		</section>
	</main>
	<Sponsors />
</Layout>

