---
import { map } from 'cheerio/lib/api/traversing'
import Container from '../../components/Container.astro'
import SectionTitle from '../../components/SectionTitle.astro'
import TeamSelectorCards from '../../components/TeamSelectorCards.astro'
import Layout from '../../layouts/Layout.astro'
import { getAllTeams } from '../../services/teams'
const teams = await getAllTeams()
---

<!-- Página de equipos -->
<Layout title='Equipos'>
	<SectionTitle title='Equipos' />
	<Container>
		<div class='bg-white p-20 shadow-lg rounded -mt-10 z-10 mb-24'>
			<TeamSelectorCards />
		</div>
	</Container>
</Layout>
